/* Color Theme Swatches in Hex */
.color--1-hex { color: #04ADBF; }
.color--2-hex { color: #04D9D9; }
.color--3-hex { color: #4E9399; }
.color--4-hex { color: #DA926C; }
.color--5-hex { color: #735A51; }

 /* Colo */
.color--1-rgba { color: rgba(4, 173, 191, 1); }
.color--2-rgba { color: rgba(4, 217, 217, 1); }
.color--3-rgba { color: rgba(78, 147, 153, 1); }
.color--4-rgba { color: rgba(218, 146, 108, 1); }
.color--5-rgba { color: rgba(115, 90, 81, 1); }

/* Colo */
.color--1-hsla { color: hsla(185, 95, 38, 1); }
.color--2-hsla { color: hsla(180, 96, 43, 1); }
.color--3-hsla { color: hsla(184, 32, 45, 1); }
.color--4-hsla { color: hsla(20, 59, 63, 1); }
.color--5-hsla { color: hsla(15, 17, 38, 1); }

*{
    margin:0;
    padding:0;

}

.hero{
    background-image:url('../img/pexels-pixabay-462024.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50vh;
    padding:0;
    margin:0;
    font-family: 'Comfortaa';
}

.hero h1 {
    position: absolute;
    /* background: #da926ce7; */
    padding: 0.3em;
    text-align: left;
    mix-blend-mode: hard-light;
    color: white;
    font-size: 3rem;
    bottom: 30%;
    right: 4%;
    border-radius: 20px;
    text-shadow: 4px 4px 4px black;
    z-index: 1;
}
.hero p {
    color:white;
    font-size:2rem;
    position: absolute;
    bottom: 20%;
    right: 4%;
    padding: 0 1em 1em 1em;
  
    text-shadow: 2px 2px 2px black;
    z-index:0;
    border-radius: 20px;
}

main{
    display:flex;
    
}
article{
    flex:2;
}
aside{
    flex:1;
    order:-1;
}

ul.mainNav{
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    list-style:none;
    padding:0;
    margin:0;
    line-height:3em;
    text-align:center;
    margin-top:1em;
    border-right: 3px dashed #735a516e;
}

li.mainNavElement{
    margin-top:1.5em;
}
a{
    font-family: 'Comfortaa';
    font-size: 2.5em;
    text-align:center;
    text-decoration:none;
    color:black;
    margin:1em;
    text-transform:lowercase;
    border-bottom:2px solid white;
}
a:hover{
    color:#735A51;
    text-shadow: 2px 2px 5px rgba(115, 90, 81, 1);
    border-bottom:1px dashed lightslategray;

}



